Vtuber/Library/
Vtuber/Temp/
Vtuber/Packages/
Vtuber/Logs/Packages-Update.log
Vtuber/Assets/uScript/
Vtuber/Assets/CVVTuberExample/
Vtuber/Assets/DlibFaceLandmarkDetector/
Vtuber/Assets/DlibFaceLandmarkDetectorWithOpenCVExample/
Vtuber/Assets/FaceTrackerExample/
Vtuber/Assets/OpenCVForUnity/
Vtuber/Assets/UnityChan/
Vtuber/Assets/FaceTrackerExample.meta
Vtuber/Assets/DlibFaceLandmarkDetectorWithOpenCVExample.meta
Vtuber/Assets/DlibFaceLandmarkDetector.meta
Vtuber/Assets/CVVTuberExample.meta
Vtuber/Assets/OpenCVForUnity.meta
Vtuber/Assets/UnityChan.meta
Vtuber/Assets/uScript.meta
Dlib.unitypackage
OpenCV.unitypackage
Vtuber.rar
